<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MySuite" verbose="1" >
    <test name="Regression" parallel="methods" thread-count="3">
        <classes>
            <class name="lesson2.TestWithParameter" />
            <class name="lesson2.LessonTwo" />
        </classes>
    </test>
</suite>
